
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{#if title}}{{ title }} - {{/if}}{{ metadata.name }}, {{ metadata.description }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <meta name="description" content="{{#if description}}{{ description }}{{else}}{{ metadata.description }}{{/if}}">
    <meta name="author" content="Frankin Javier">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ metadata.url }}img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ metadata.url }}img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ metadata.url }}img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ metadata.url }}img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ metadata.url }}img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ metadata.url }}img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ metadata.url }}img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ metadata.url }}img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ metadata.url }}img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ metadata.url }}img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ metadata.url }}img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ metadata.url }}img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ metadata.url }}img/favicon-16x16.png">
    <link rel="manifest" href="{{ metadata.url }}img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ metadata.url }}img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google -->
    <link rel="author" href="https://plus.google.com/+FranklinJavier/">
    <meta name="robots" content="index, follow">

    <!-- DNS prefetch -->
    <link rel="dns-prefetch" href="http://www.google-analytics.com">

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="{{#if title}}{{ title }}{{else}}{{ metadata.name }}, {{ metadata.description }}{{/if}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{#if path}}{{ metadata.url }}{{ path }}{{else}}{{ metadata.url }}{{/if}}" />
    <meta property="og:image" content="{{ metadata.url }}img/favicon.png" />
    <meta property="og:description" content="{{#if description}}{{ description }}{{else}}{{ metadata.description }}{{/if}}" />
    <meta property="og:site_name" content="{{ metadata.name }}">
    <meta property="og:locale" content="pt_BR">
    <meta property="fb:profile_id" content="677553975">

    <!-- RSS -->
    <link rel="alternate" href="{{ metadata.url }}rss.xml" type="application/rss+xml" title="Feed">

    <!-- Style -->
    <link rel="stylesheet" href="/css/main.css">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-30021850-1', 'auto');
        ga('send', 'pageview');
    </script>

  </head>
  <body class="{{isHome path}}">

      <header class="header">

          <div class="content">
              <div class="avatar">
                  <a href="{{ metadata.url }}">
                      <img src="{{ metadata.url }}img/avatar2.jpg" alt="{{ metadata.name }}">
                  </a>
              </div>
              <div class="container">
                  <h1 class="header__title">
                      <a href="{{ metadata.url }}">{{ metadata.name }}</a>
                  </h1>
                  <h2 class="header__description">
                      I'm a <a href="http://stackshare.io/franklinjavier" target="_blank">Front-end</a> developer (currently at <a href="http://www.uol.com.br">UOL</a>). 
                  </h2>
                  <div class="about__location">
                      São Paulo, Brazil
                  </div>
              </div>
          </div>
      </header>

  <div class="content">

    <!--<header class="header">-->
      <!--<div class="header__logo">-->
        <!--<a href="/" title="{{ metadata.name }} - {{ metadata.description }}" class="logo"></a>-->
      <!--</div>-->
    <!--</header>-->



