<div class="share">
  <a href="https://twitter.com/intent/tweet?url={{#if path}}{{ metadata.url }}{{ path }}{{else}}{{ metadata.url }}{{/if}}&text={{#if description}}{{ description }}{{else}}{{ metadata.description }}{{/if}}">
    <!--<img src="https://cdn1.iconfinder.com/data/icons/social-networks-3/512/twitter-32.png">-->
    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-24.png">
  </a>

  <a href="https://facebook.com/sharer.php?u={{#if path}}{{ metadata.url }}{{ path }}{{else}}{{ metadata.url }}{{/if}}">
    <!--<img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-32.png">-->
    <!--<img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-32.png">-->
    <!--<img src="https://cdn1.iconfinder.com/data/icons/social-networks-3/512/facebook-32.png">-->
    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-24.png">
  </a>
  <a href="https://plus.google.com/share?url={{#if path}}{{ metadata.url }}{{ path }}{{else}}{{ metadata.url }}{{/if}}">
    <img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/google-24.png" width="22" height="22">
    <!--<img src="https://cdn1.iconfinder.com/data/icons/social-networks-3/512/google_plus-24.png">-->
  </a>
</div>

