<span class="share">
  <a href="https://facebook.com/sharer.php?u={{#if path}}{{ metadata.url }}{{ path }}{{else}}{{ metadata.url }}{{/if}}">
    <img
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="/img/share-fb.svg"
      title="Compartilhar no Facebook"
      width="34" 
      height="34"      
      class="blzy"></a>

  <a href="https://twitter.com/intent/tweet?url={{#if path}}{{ metadata.url }}{{ path }}{{else}}{{ metadata.url }}{{/if}}&text={{#if description}}{{ description }}{{else}}{{ metadata.description }}{{/if}}">
    <img
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="/img/share-tt.svg"
      title="Compartilhar no Twitter"
      width="34" 
      height="34"      
      class="blzy"></a>

  <a href="https://plus.google.com/share?url={{#if path}}{{ metadata.url }}{{ path }}{{else}}{{ metadata.url }}{{/if}}">
    <img
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="/img/share-gp.svg" 
      title="Compartilhar no Google+"
      width="34" 
      height="34"
      class="blzy">
  </a>
</span>
