{{> head}}
{{> header}}

<main class="content">
  <article class="post">

    <h1>{{ title }}</h1>
    <time datetime="{{ dateFormat date }}">{{ dateFormat date }}</time>

    <div class="post-body">
      {{{contents}}}
    </div>

  </article>
</main>

{{> share}}

<nav class="pagination">
  <a href="/" class="btn -large prev" title="{{next.title}} (J)">Início</a>

  {{#if next.path}}
  <a href="/{{next.path}}" class="btn -large prev" title="{{next.title}} (J)">Anterior</a>
  {{/if}}

  {{#if previous}}
  <a href="/{{previous.path}}" class="btn -large next" title="{{previous.title}} (K)">Próximo</a>
  {{/if}}
</nav>

{{> comment}}
{{> footer}}
